@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;
@use "../components/cards/donate-card" as *;

.founder-section {
  position: relative;
  z-index: 1;
  margin-bottom: var(--default-padding);
  padding: 5.5rem 0 7.6rem;

  &__box {
	display: flex;
	flex-direction: column;
	gap: clamp(32px, 7.29vw, 5.6rem);

	@include mobile {
	  gap: 32px;
	}
  }

  &__inner{
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 2rem clamp(20px, 3.175vw, 4rem);

	& > .editor{
	  max-width: 70rem;
	  width: 100%;
	  gap: 2.4rem;
	  margin-top: 0.2rem;

	  .h1,.h2,.h3{
		margin-bottom: -1.6rem;

		@include  tablet{
		  margin-bottom: -18px;
		}
		@include small-tablet{
		  text-align: center;
		  align-self: center;
		}
	  }

	  .h4,.h5{
		@include small-tablet{
		  text-align: center;
		  align-self: center;
		}
	  }

	  p:not([class]) {
		font-size: 1.6rem;
		letter-spacing: 0.015em;
	  }

	}

	@include tablet{
	  gap: 20px;
	}

	@include small-tablet{
	  justify-content: center;
	  grid-template-columns: 100%;
	}

	@include mobile{
	  gap: 18px;
	}
  }

  &__image{
	width:  clamp(162px, 19.206vw, 24.2rem);
	height: clamp(162px, 19.206vw, 24.2rem);
	display: flex;
  	align-items: center;
	justify-content: flex-end;
	overflow: hidden;

	img,picture{
	  object-fit: contain;
	  width: 266px;
	  height: 261px;
	  pointer-events: none;
	}

	@include  small-tablet{
	  justify-self: center;
	}

	@include mobile{
	  width: 100px;
	  height: 100px;
	}
  }

  @include  tablet{
	padding-bottom: 20px;
  }

  @include mobile{
	padding: 0 0 3px;
	margin-top: 19px;
  }
}