@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;

.cta-section {
  margin: var(--default-padding) 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: var(--cl-f);
  padding: clamp(32px, 5.21vw, 4rem) 0;

  &__bg {
	position: absolute;
	z-index: -1;
	inset: 0;
	pointer-events: none;

	img, picture, svg {
	  display: block;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}


  }

  &__box {
	max-width: 120.8rem;
	margin: 0 auto;
	display: grid;
	width: 100%;
	align-items: center;

	gap: 1.6rem clamp(40px, 5.14vw, 7.4rem);

	grid-template-columns: 1fr auto;

	@include for-desktop {
	  padding: 0 12.6rem 0 7.7rem;
	}
	@include desktop {
	  @include for-laptop {
		padding: 0 124px 0 77px;
	  }
	}
	@include laptop {
	  padding: 0;
	}

	.editor {
	  p {
		@include laptop {
		  @include for-tablet {
			margin-top: 1px;
		  }
		}
	  }

	  .main-button {
		min-width: 310px;

		@media (max-width: 1024px) {
		  min-width: 260px;
		}
		@include small-tablet {
		  margin: 0 auto;
		}
		@include mobile {
		  min-width: 100%;
		}
	  }
	}

	@include laptop {
	  @include for-small-tablet {
		gap: 36px;

		.main-button {
		  margin-right: -7px;
		}
	  }
	}
	@include small-tablet {
	  grid-template-columns: 100%;
	}
  }

  &.mode {
	background: transparent;
	padding: 0;

	.container {
	  @include laptop {
		padding: 0;
	  }
	}

	.cta-section {
	  &__box {
		background: var(--cl-c);
		position: relative;
		z-index: 1;
		overflow: hidden;

		p {
		  margin: 0;
		}

		.main-button {
		  margin: 0;
		}

		@include for-desktop {
		  padding: clamp(32px, 5.21vw, 4rem) 10rem;
		}
		@include desktop {
		  @include for-laptop {
			padding: clamp(32px, 5.21vw, 4rem) 10rem;
		  }
		}
		@include laptop {
		  padding: clamp(32px, 5.21vw, 4rem) clamp(16px, 5.21vw, 40px);

		  @media (min-width: 1025px) {
			gap: 1.6rem clamp(70px, 5.14vw, 7.4rem);
		  }
		}
		@include for-laptop {
		  grid-template-columns: 1fr auto;
		}
		@include mobile {
		  padding: 24px 16px;
		}
	  }

	  &__bg {
		inset: initial;
		left: 0;
		width: 419px;
		height: 448px;
		bottom: 0;
		transform: translate(-41%, 47%);

		img, picture, svg {
		  object-fit: contain;
		}

		@include mobile {
		  height: auto;
		  width: 489px;
		  transform: translate(-37%, 47%) rotate(90deg);
		}
	  }
	}

	@include laptop {
	  max-width: calc(var(--container-width) + 7px);
	  margin: var(--default-padding) calc(var(--container-offset) - 7px) var(--default-padding) var(--container-offset);
	}

	@include mini-tablet {
	  margin: var(--default-padding) var(--container-offset);
	}
  }
}

.tags-section {
  overflow: hidden;
  margin: var(--default-padding) 0;
  background: var(--cl-d);
  padding: clamp(32px, 10.42vw, 8rem) 0;

  &__box {
	gap: clamp(32px, 7.29vw, 5.6rem);
	display: flex;
	flex-direction: column;

	& > .editor {
	  * {
		color: var(--cl-a);
	  }
	}

	@include mobile {
	  gap: 32px;
	}
  }

  &__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: clamp(12px, 2.08vw, 1.6rem);
  }

  &__content {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	& > .main-button {
	  align-self: center;
	  min-width: 310px;

	  @include for-tablet {
		margin-right: -0.4rem;
	  }

	  @include mobile {
		min-width: 100%;
	  }
	}

	@include mobile {
	  gap: 32px;
	}
  }

  @include mobile {
	padding: 32px 0;
  }
}

.selected-section {
  overflow: hidden;
  margin: var(--default-padding) 0;

  &__box {
	gap: clamp(32px, 7.29vw, 5.6rem);
	display: flex;
	flex-direction: column;

	@include mobile {
	  gap: 32px;
	}
  }

  &__item {
	@include mobile {
	  position: relative;
	  z-index: 1;
	  padding-bottom: 24px;

	  &:before {
		content: "";
		position: absolute;
		background: #CCC;
		pointer-events: none;
		height: 1px;
		left: 50%;
		transform: translate(-50%, -50%);
		top: -24px;
		width: 100vw;

	  }
	}

	@include small-ios {
	  &:nth-child(2) {
		.h3 {
		  margin-bottom: 5px;
		}
	  }
	}
  }

  &__list {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	&:before {
	  content: "";
	  position: absolute;
	  height: 100%;
	  width: 0.1rem;
	  left: -2rem;
	  transform: translateX(-50%);
	  background: #CCC;
	  pointer-events: none;

	  @include tablet {
		top: -20px;
		width: 100%;
		height: 1px;
		left: 50%;
		transform: translate(-50%, -50%);

		@include mobile {
		  top: -23.5px;
		  width: 100vw;
		}
	  }
	}


	@include mobile {
	  gap: 24px;
	}
  }

  &__inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;

	@include desktop {
	  @include for-tablet {
		grid-template-columns: calc(50% + 0.5rem - 2rem) calc(50% - 2.5rem);
	  }
	}

	@media (max-width: 1025px) {
	  @media (min-width: 1020px) {
		margin-right: 5px;
	  }
	}

	@include tablet {
	  grid-template-columns: 100%;
	}
	@include mobile {
	  gap: 47px;
	}
  }

  @include laptop {
	@include for-tablet {
	  margin-top: calc(var(--default-padding) - 3px);
	}
  }

  @include mobile {
	& + .books-section {
	  margin-top: -4px;
	}
  }
}

.blog-section {
  overflow: hidden;
  margin: var(--default-padding) 0;

  & + .cta-section {
	@include for-mobile {
	  margin-top: 0.8rem;
	}

	@include mobile {
	  margin-top: 3px;
	}
  }

  &__box {
	gap: clamp(32px, 7.29vw, 5.6rem);
	display: flex;
	flex-direction: column;

	@include mobile {
	  gap: 32px;
	}
  }

  &__item {
	@include mobile {
	  position: relative;
	  z-index: 1;
	  padding-bottom: 24px;

	  &:before {
		content: "";
		position: absolute;
		background: #CCC;
		pointer-events: none;
		height: 1px;
		left: 50%;
		transform: translate(-50%, -50%);
		top: -24px;
		width: 100vw;

	  }
	}

	@include small-ios {
	  &:nth-child(2) {
		.h3 {
		  margin-bottom: 5px;
		}
	  }
	}
  }

  &__list {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	&:before {
	  content: "";
	  position: absolute;
	  height: 100%;
	  width: 0.1rem;
	  left: -2rem;
	  transform: translateX(-50%);
	  background: #CCC;
	  pointer-events: none;

	  @include tablet {
		top: -20px;
		width: 100%;
		height: 1px;
		left: 50%;
		transform: translate(-50%, -50%);

		@include mobile {
		  top: -23.5px;
		  width: 100vw;
		}
	  }
	}

	@include mobile {
	  gap: 24px;
	}
  }

  &__inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;

	@include desktop {
	  @include for-tablet {
		grid-template-columns: calc(50% + 0.5rem - 2rem) calc(50% - 2.5rem);
	  }
	}

	@include tablet {
	  grid-template-columns: 100%;
	}
	@include mobile {
	  gap: 47px;
	}
  }


}

.books-section {
  overflow: hidden;
  margin: var(--default-padding) 0;
  background: var(--cl-d);
  padding: clamp(32px, 10.42vw, 8rem) 0;

  &__more {
	display: flex;
	align-items: center;
	gap: 16px;
	color: var(--cl-a);
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	white-space: nowrap;
	transition: all .4s;
	text-decoration: underline;
	text-underline-offset: 0.4rem;
	text-decoration-color: transparent;

	svg {
	  width: 2.4rem;
	  height: 2.4rem;
	}

	@include hover {
	  text-decoration-color: inherit;
	}

	@media (max-width: 1025px) {
	  @media (min-width: 1020px) {
		margin-right: -5px;
	  }
	}
  }

  &__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.6rem;

	& > .editor {
	  * {
		color: var(--cl-a);
	  }
	}
  }

  &__box {
	gap: clamp(32px, 7.29vw, 5.6rem);
	display: flex;
	flex-direction: column;


	@include mobile {
	  gap: 32px;
	}
  }

  &__slider {
	display: flex;
	flex-direction: column;
	position: relative;

	&:before, &:after {
	  content: "";
	  position: absolute;
	  height: 100%;
	  top: 0;
	  width: 50vw;
	  z-index: 3;
	  pointer-events: none;
	}

	&:before {
	  right: 0;
	  background: linear-gradient(270deg, rgba(65, 71, 85, 1) 98%, rgba(65, 71, 85, 0) 100%);
	  transform: translateX(100%);
	}

	&:after {
	  left: 0;
	  background: linear-gradient(90deg, rgba(65, 71, 85, 1) 98%, rgba(65, 71, 85, 0) 100%);
	  transform: translateX(-100%);
	}

	.swiper-container {
	  overflow: initial;
	}

	.swiper-slide {
	  height: auto;
	  display: flex;
	}

	@include desktop {
	  margin: 0 -7px 0 0;
	}
	@include laptop {
	  margin: 0 -5px 0 0;
	}
	@include mini-tablet {
	  margin: 0;
	}
  }

  @include mobile {
	padding: 32px 0;
	margin-bottom: 18px;
  }
}

.hero-section {
  overflow: hidden;
  margin-bottom: var(--default-padding);
  background: var(--cl-g);

  &__inner {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	justify-content: space-between;
	padding: 7rem 0;

	& > .h3 {
	  margin-left: -0.2rem;
	}

	.editor {
	  margin-top: -2.4rem;
	  gap: 2.4rem;

	  .h1 {
		letter-spacing: 0.005em;
	  }

	  p:not([class]) {
		letter-spacing: 0.0063em;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		@include desktop {
		  max-width: 95%;
		}

		@include mobile {
		  max-width: 100%;
		  -webkit-line-clamp: 4;
		}
	  }

	  @include desktop {
		margin-top: -1px;
	  }
	}

	@include laptop {
	  padding: 33px 0 34px;
	}

	@media (max-width: 1024px) {
	  padding: 47px 0 45px;
	}

	@include mini-tablet {
	  padding: 0 0 41px;

	  @include for-mobile {
		gap: 38px;
	  }
	}

	@include mobile {
	  gap: 24px;
	  padding: 0 0 32px;
	}
  }

  &__box {
	display: grid;
	grid-template-columns: 1fr .85fr;
	gap: 4rem;

	@include desktop {
	  grid-template-columns: 1fr .93fr;
	}

	@include laptop {
	  grid-template-columns: 1fr .9fr;
	}

	@include mini-tablet {
	  grid-template-columns: 100%;
	}

	@include mobile {
	  gap: 23px;
	}
  }

  &__bottom {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	flex-wrap: nowrap;
	min-width: 0;

	@include mobile {
	  margin-top: -2px;
	}
  }

  &__info {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	white-space: nowrap;
	flex-shrink: 0;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	&:last-child {
	  flex: 1;
	  min-width: 0;

	  span {
		display: block;
		flex: 1;
		min-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	  }
	}

	svg {
	  flex-shrink: 0;
	}
  }

  &__image {
	display: flex;
	position: relative;
	z-index: 1;


	.tag {
	  position: absolute;
	  top: 0.8rem;
	  left: 0.8rem;
	  background-color: var(--cl-d);
	  color: var(--cl-a);

	  @include mini-tablet {
		left: var(--container-offset);
	  }
	}

	svg, img, picture {
	  margin-top: auto;
	  width: 100%;
	  height: 100%;
	}

	@include for-mini-tablet {
	  height: 600px;
	  width: calc(100% + var(--container-offset));
	  margin-right: calc(-1 * var(--container-offset));
	}

	@include mini-tablet {
	  order: -1;
	  height: 400px;
	  width: calc(100% + (var(--container-offset) * 2));
	  margin-left: calc(-1 * var(--container-offset));
	}

	@include mobile {
	  height: 300px;
	}
  }


}
