@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;
@use "../components/cards/donate-card" as *;

.donate-section {
  position: relative;
  z-index: 1;
  background: var(--cl-h);
  margin-bottom: var(--default-padding);
  padding: 5.3rem 0 5.5rem;

  &__bg {
	position: absolute;
	z-index: -1;
	pointer-events: none;
	inset: 0;

	img, picture {
	  width: 100%;
	  height: 100%;
	}
  }

  .h1{
	@include mobile{
	  letter-spacing: -0.02em;
	}
  }
  &__box {
	display: flex;
	flex-direction: column;
	gap: clamp(32px, 7.29vw, 5.6rem);

	@include mobile {
	  gap: 32px;
	}
  }

  &__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3.9rem 4.2rem;
	max-width: 101rem;
	width: 100%;
	align-self: center;

	@include for-tablet {
	  margin-right: -0.6rem;
	}
	@include tablet {
	  grid-template-columns: 100%;
	}

	@include mobile {
	  gap: 32px;
	}
  }

  &__item {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
  }

  @include donate-card;

  @include tablet {
	padding: 55px 0;
  }

  @include mobile{
	padding: 32px 0;
  }
}