@use "../mixins/breakpoint" as *;
@use "../mixins/disable-mob-hover" as *;

.mobile {
  width: 100%;
  height: 100%;
  z-index: 90;
  overflow: hidden;
  transition: all 0.4s linear;
  flex-direction: column;

  &::-webkit-scrollbar {
    display: none;
  }

  .header__logo {
    @include for-mini-tablet {
      display: none;
    }
  }

  .langs{
    @include for-mini-tablet{
      display: none;
    }
  }




  &.active {
    display: flex;

    @include mini-tablet {
      overflow-y: auto;
      transform: translateX(0);
    }
  }
  .langs{
    @include mini-tablet{
      gap: 24px;

      li:last-of-type{
        a{
          font-family:  var(--font-main);
          font-weight: 400;
        }
      }

      a{
        font-size: 16px;
        color:  var(--cl-a);
        font-family:  var(--font-main);

        &.active{
          font-weight: 700;
          pointer-events: none;
        }
      }
    }
  }

  &__top{
    @include mini-tablet{
      display: flex;
      align-items: center;
      gap:  16px;
      position: relative;
      z-index: 2;
      padding: 23px 0;
      width: 100%;

      .header__logo{
        filter:  brightness(50);
      }

      &:before{
        content: '';
        position: absolute;
        z-index: -1;
        background: var(--cl-j);
        width: 100vw;
        left: 50%;
        height: 1px;
        transform: translateX(-50%);
        bottom: 0;
        pointer-events: none;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
    flex-grow: 1;
    width: 100%;
    align-items: center;

    @include for-mini-tablet {
      display: contents;
    }

    @include mobile{
      gap: 39px;
    }
  }

  @include for-mini-tablet {
    display: contents;
  }

  @include mini-tablet {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    height: 100dvh;
    bottom: 0;
    z-index: 90;
    transition: all 0.3s ease;
    transform: translateX(-110%);
    background: var(--bg-a);
    padding: 0 40px 40px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: var(--cl-d);

    .header__nav {
      width: 100%;
      flex-direction: column;
      display: flex;
      position: relative;
      justify-content: flex-start;
      z-index: 1;

      &:only-child {
        flex-grow: 1;
      }

      ul {
        transition: 0.3s ease;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5.6rem;

        .sprite{
          width: 65px;
          filter:  brightness(50);
          height: 35px;

          svg{
            max-width: initial;
            max-height: initial;
            width: 100%;
            height: auto;
          }

          @include mobile{
            width: 48px;
            height: 26px;
          }
        }

        a,
        .menu-button,span {
          width: 100%;
          justify-content: start;
          color: var(--cl-a);
          font-size: 2.8rem;

          &.disabled {
            display: none;
          }

          @include mobile{
            font-size: 21px;
          }
        }

        .menu-button {
          width: fit-content;
          justify-content: space-between;
        }

        .menu-item-has-children {
          width: 100%;
        }

        @include mobile{
          gap: 40px;
        }
      }

      .sub-menu {
        align-items: center;

        @include mini-tablet {
          a {
            font-size: 1.6rem;
          }
        }
      }


    }
  }

  @include mobile {
    padding: 0 16px 40px;
  }
}
