@use "../components/main-components/main-form" as *;
@use "../components/search-form" as *;
@use "../mixins/breakpoint" as *;

.modal {
  max-width: 80rem;
  width: 90vw;
  background: var(--cl-a);
  padding: 5.6rem 1.6rem;

  .h2, h3, h1 {
	max-width: 92%;
  }

  &__bg {
	width: 24.8rem;
	height: 24rem;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	pointer-events: none;

	svg, img, .sprite {
	  width: 100%;
	  height: auto;
	}
  }

  &__container {
	width: 100%;
	max-width: 42rem;
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	margin: 0 auto;
  }

  &__box {
	width: 100%;

	& > .row .main-button {
	  width: 100%;
	}
  }

  &--search {

	.modal {
	  &__container {
		gap: 1.6rem;
		flex-direction: column;
		max-width: 72rem;
	  }
	}

	.main-button{
	  margin: 0 auto;
	  min-width: 31rem;
	}
  }

  @include for-mobile {
	padding: 4rem;
  }
  @include mobile {
	padding: 24px 16px;
  }

  @include main-form;
  @include search-form;
}
