@use "../../mixins/breakpoint"as *;
@use "../../mixins/mini" as *;
@use "../../mixins/disable-mob-hover"as *;

@mixin publications-card {
  .publications-card {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	height: 100%;
	width: 100%;

	position: relative;
	z-index: 1;

	&__body {
	  height: 100%;
	  display: flex;
	  flex-direction: column;
	  gap: 2.4rem;
	  min-width: 0;

	  .h3 {
		margin-bottom: auto;

		@include mobile {
		  min-height: 30px;
		}
	  }

	  .h2, .h3 {
		margin-bottom: auto;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	  }

	  p:not([class]) {
		font-family: var(--font-second);
		display: -webkit-box;
		line-height: 150%;
		font-size: 1.6rem;

		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		letter-spacing: 0.025em;
		-webkit-line-clamp: 1;
	  }

	  @include mobile {
		gap: 16px;
	  }
	}


	&__thumb {
	  width: 100%;
	  height: 30.1rem;
	  overflow: hidden;
	  pointer-events: none;
	  flex-shrink: 0;

	  img, picture, svg {
		width: 100%;
		height: 100%;
		transition: all .5s;
	  }

	  @include mini-tablet{
		height: 252px;
	  }

	  @include ios{
		height: 214px;
	  }
	}

	@include hover {
	  .publications-card__thumb {
		img, picture, svg {
		  transform: scale(1.06);
		}
	  }
	}
  }
}