@use "../../mixins/breakpoint" as *;
@use "../../mixins/disable-mob-hover" as *;

@mixin main-form {
  .main-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	&__label {
	  position: relative;
	  display: flex;
	  flex-direction: column;
	  gap: 0.8rem;
	}

	input:not([type="submit"]), textarea {
	  padding: 1.1rem 1.6rem;
	  width: 100%;
	  background-color: var(--cl-a);
	  font-family: var(--font-main);
	  font-size: 1.6rem;
	  font-style: normal;
	  font-weight: 500;
	  line-height: normal;
	  height: 4.2rem;
	  border: 1px solid var(--cl-j);
	  transition: all .4s;
	  color: var(--cl-b);

	  &::placeholder {
		color: var(--cl-d);
	  }

	  &:focus {
		border-color: var(--cl-e);
	  }
	}

	textarea {
	  max-height: 96px;
	}

	.main-button {
	  cursor:  pointer;
	  width: 100%;
	}

	.wpcf7 {
	  position: relative;
	  z-index: 1;

	  &-form-control-wrap {
		display: flex;
		width: 100%;
	  }

	  &-spinner {
		display: none;
	  }

	  &-not-valid-tip {
		bottom: 2px;
		left: Max(20px, 20px);
		position: absolute;
		opacity: 0;
		transition: opacity .2s;
		transition-delay: .2s;
	  }

	  &-response {
		&-output {
		  display: none;
		  position: absolute;
		}
	  }
	}
  }


  .file-upload {

	&__placeholder {
	  color: var(--cl-d);
	  text-align: center;
	  letter-spacing: -0.01em;
	  margin-left: 0.3rem;
	  font-family: var(--font-second);
	  font-size: 1.6rem;
	  font-style: normal;
	  font-weight: 400;
	  line-height: 2.4rem;
	  transition: all .3s;
	}

	&__filename {
	  display: none;
	  flex-grow: 1;
	  margin-left: 0.8rem;
	  color: var(--cl-d);
	  font-family:  var(--font-second);
	  font-size: 1.6rem;
	  font-style: normal;
	  font-weight: 400;
	  line-height: 2.4rem;
	  letter-spacing: -0.01em;
	}

	&__remove {
	  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath stroke='%23414755' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' d='m4.667 4.667 6.666 6.666m-6.666 0 6.666-6.666'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	  width: 1.6rem;
	  height: 1.6rem;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  transition: all .3s;
	  display: none;

	  @include hover {
		opacity: .7;
	  }
	}

	&__label {
	  border: 0.1rem dashed var(--cl-d);
	  padding: 1.2rem 1.6rem;
	  cursor: pointer;
	  position: relative;
	  display: flex;
	  flex-direction: column;

	  align-items: center;

	  &:before {
		content: "";
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cg stroke='%23414755' stroke-linejoin='round' stroke-width='2' clip-path='url(%23a)'%3E%3Cpath stroke-linecap='round' d='M7 21a2 2 0 0 1-2-2V3h9l5 5v11a2 2 0 0 1-2 2z'/%3E%3Cpath d='M13 3v6h6'/%3E%3Cpath stroke-linecap='round' d='M9 13h6M9 17h6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		width: 2.4rem;
		display: block;
		height: 2.4rem;
		flex-shrink: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 0.7rem;
		margin-left: 0.1rem;
		margin-top: -0.2rem;
		transition: all .3s;
	  }
	}

	&__input {
	  display: none;
	}

	&.is-loaded {
	  height: 2.4rem;

	  .wpcf7-form-control-wrap{
		width: 0;
	  }
	  .file-upload__label{
		padding: 0;
		border-color: transparent;
		flex-direction: row;

		&:before{
		  margin: 0 0 0 -0.2rem;
		}
	  }
	  .file-upload__remove {
		display: block;
	  }

	  .file-upload__placeholder {
		display: none;
	  }

	  .file-upload__filename {
		display: inline-block;
	  }
	}

	@include hover {
	  .file-upload__label:before, .file-upload__placeholder {
		opacity: .7;
	  }
	}
  }


}
