@use "../../mixins/mini" as *;

.main-top {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include headers{
    color: var(--cl-c);
    font-family: var(--font-main);
    font-size: clamp(28px, 3.611vw, 52px);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
  }

  p{
    color: var(--cl-c);
    font-family: var(--second-family);
    font-size: clamp(16px, 1.3889vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
  }
}