@use "../../mixins/breakpoint" as *;

.mobile-btns {
    display: none;

    @include mobile {
        display: flex;
        width: 100vw;
        position: fixed;
        bottom: 0;
        z-index: 20;
        background: rgba(41, 41, 41, 0.5);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);

        &__box {
            padding: 12px ;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;

            .main-button {
                width: 100%;
            }
        }
    }
}