@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Brygada1918";
  font-display: swap;
  src: url("../fonts/Brygada1918-Regular.woff2") format("woff2"), url("../fonts/Brygada1918-Regular.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Brygada1918";
  font-display: swap;
  src: url("../fonts/Brygada1918-SemiBold.woff2") format("woff2"), url("../fonts/Brygada1918-SemiBold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Brygada1918";
  font-display: swap;
  src: url("../fonts/Brygada1918-Bold.woff2") format("woff2"), url("../fonts/Brygada1918-Bold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Caslon-540-BT";
  font-display: swap;
  src: url("../fonts/Caslon-540-BT.woff2") format("woff2"), url("../fonts/Caslon-540-BT.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "TTTravels";
  font-display: swap;
  src: url("../fonts/TTTravels-Regular.woff2") format("woff2"), url("../fonts/TTTravels-Regular.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "TTTravels";
  font-display: swap;
  src: url("../fonts/TTTravels-Medium.woff2") format("woff2"), url("../fonts/TTTravels-Medium.woff") format("woff");
}
/* stylelint-disable */
:root {
  --rem-function: Min(62.5%, 10px);
  --error-bg: var(--cl-e);
  --body-bg: #FAFAFB;
  --body-font-size: clamp(1.4rem, 1.563vw, 1.6rem);
  --content-width: 176rem;
  --content-width: 100%;
  --container-offset: clamp(40px, 4.17vw, 8rem);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --default-padding: calc(clamp(4rem, 8.33vw, 6.4rem) / 2);
  --header-height: 80px;
  --scrollbar-thumb: #dad9d9;
  --scrollbar-track: rgba(33,33, 33, 0.07);
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --select-inner-bg: #404040;
  --select-inner-border: #FDFDFD;
  --select-focus-border: #FDFDFD;
  --font-main: "Brygada1918";
  --font-second: "Caslon-540-BT";
  --font-third: "TTTravels";
  --cl-a: #FFFFFF;
  --cl-b: #000000;
  --cl-c: #E3E3E3;
  --cl-d: #414755;
  --cl-e: #922522;
  --cl-f: #E2F3FD;
  --cl-g: #F5EFEF;
  --cl-h: #DFEBDD;
  --cl-i: #5AA04C;
  --cl-j: #CCC;
  --cl-k: #9699A1;
  --cl-l: #F4F0EC;
  --gr-a: linear-gradient(
                  120deg,
                  rgba(255, 255, 255, 0.15),
                  rgba(255, 255, 255, 0)
  );
  --gr-b: linear-gradient(180deg, rgba(64, 93, 230, 0.1) 0%, rgba(131, 58, 180, 0.25) 0.01%, rgba(253, 0, 184, 0.5) 37.15%, rgba(243, 35, 57, 0.75) 75%, #fcaf45 100%);
  --gr-c: linear-gradient(135deg, #d81f26, rgb(212, 149, 149), rgb(250, 224, 223));
  --gr-d: linear-gradient(135deg, #eb001b, #f79e1b);
  --loader: linear-gradient(
                  90deg,
                  rgba(212, 149, 149, 1) 0%,
                  rgba(255, 255, 255, 1) 45%,
                  rgba(255, 255, 255, 1) 55%,
                  rgba(212, 149, 149, 1) 100%
  );
}

/* stylelint-disable */
/* stylelint-disable */
.main-title {
  margin: 3.8rem 0 2.4rem 0.1rem;
}

h1,
.h1 {
  color: var(--cl-b);
  font-family: var(--font-main);
  font-size: clamp(28px, 5.21vw, 4rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2,
.h2 {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  color: var(--cl-b);
  font-family: var(--font-main);
  font-size: clamp(21px, 3.65vw, 2.8rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.003em;
}
h2 .sprite svg,
.h2 .sprite svg {
  max-width: 2.9rem;
  max-height: 2.8rem;
}

h3,
.h3 {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--cl-b);
  font-family: var(--font-main);
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
h3 .sprite svg,
.h3 .sprite svg {
  max-width: 2.9rem;
  max-height: 2.8rem;
}

h4,
.h4 {
  color: var(--cl-b);
  font-family: var(--font-main);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h5,
.h5 {
  color: var(--cl-b);
  font-family: var(--font-main);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tag {
  color: var(--cl-b);
  font-family: var(--font-main);
  font-size: clamp(14px, 2.08vw, 1.6rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 2.7rem;
  white-space: nowrap;
  display: flex;
  padding: 0.4rem 0.8rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--cl-f);
  letter-spacing: 0.003em;
  transition: all 0.25s ease;
  will-change: transform;
}
.tag:active {
  transform: translateY(0);
}

.wp-caption {
  width: calc(100% + 0.4rem) !important;
  display: inline-flex;
  flex-direction: column;
}
.wp-caption img, .wp-caption picture {
  width: 100%;
}
.wp-caption .wp-caption-text {
  margin-top: 8px;
  color: var(--cl-d);
  font-family: var(--font-main);
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.015em;
}

.tooltip {
  color: var(--cl-b);
  cursor: pointer;
  font-family: var(--font-second);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  display: inline-flex;
  padding: 0 0.4rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  background: var(--cl-f);
}
.tooltip:after {
  content: "";
  position: relative;
  top: 0.2rem;
  display: inline-flex;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' viewBox='0 0 12 12'%3E%3Cpath fill='%23414755' d='m5.943.207.003-.012c.02-.07.05-.148.118-.18.167-.079.281.174.289.354.031.785.154 1.565.365 2.323.107.384.285.813.676.938.616.197 1.345-.748 1.64-.505.193.145-.217.786-.397 1.097-.144.436-.182.892.176 1.147.357.255.565.21 1.002.288.624.113 1.294.104 1.909.257.146.036.331.151.26.28a.5.5 0 0 1-.203.18c-.617.17-1.236.102-1.87.188-.578.077-1.078.202-1.274.734-.175.474.217 1.074.452 1.523.032.06.063.134.03.194-.05.091-.238.087-.335.043-.298-.135-.485-.385-.757-.564s-.48-.301-.782-.173c-.336.142-.47.53-.524.881-.136.89-.015 2.774-.554 2.8-.413-.021-.354-2.158-.622-3.194-.033-.196-.08-.414-.251-.523-.23-.147-.534-.012-.774.12-.39.215-.604.424-1.001.626-.11.056-.26.107-.346.02-.062-.064-.051-.164-.029-.248.11-.407.392-.748.578-1.129.079-.161.12-.464.053-.63-.1-.249-.603-.321-.876-.358-.935-.126-1.486-.137-2.42-.264-.16-.021-.644-.143-.421-.372.083-.085.36-.088.475-.111.177-.036.381-.04.558-.076.693-.144.983-.138 1.67-.301.265-.063.87-.202 1.018-.424.158-.237.115-.656-.004-.914s-.434-.53-.485-.808c-.013-.072-.014-.154.041-.204.053-.047.135-.043.206-.028.355.072.498.306.826.457.328.15.748.189.961-.096a.9.9 0 0 0 .135-.35c.215-.986.2-2.015.483-2.985z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.tippy-box {
  background: var(--cl-f);
  border-radius: 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}
.tippy-box .tippy-arrow {
  color: var(--cl-f);
}
.tippy-box .tippy-content {
  padding: 1rem;
  color: var(--cl-d);
  font-family: var(--font-second);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.langs {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.langs li:last-of-type a {
  font-family: var(--font-main);
  font-weight: 500;
}
.langs a {
  color: var(--cl-d);
  font-family: "TT Travels";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s;
}
.langs a b {
  font-weight: inherit;
}
.langs a.active {
  font-weight: 600;
  pointer-events: none;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.search-form__btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cl-d);
  border: solid 0.1rem #ccc;
}
.search-form__btn svg, .search-form__btn img {
  transition: all 0.3s;
  width: 2rem;
  height: 2rem;
}

.editor {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.editor .wpcf7 {
  width: 100%;
}
.editor p:has(iframe) {
  height: 100%;
}
.editor p:has(image) {
  display: flex;
}
.editor iframe {
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}
.editor p:not([class]) {
  font-family: var(--font-second);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.editor ul:not([class]) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.editor ul:not([class]) li {
  font-family: var(--font-main);
  font-size: clamp(14px, 1.563vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  position: relative;
}
.editor ul:not([class]) li div {
  display: flex;
  align-items: center;
  font-size: clamp(16px, 3.125vw, 24px);
  line-height: 150%;
  font-weight: 500;
}
.editor ul:not([class]) li i {
  margin-right: clamp(16px, 3.125vw, 24px);
}
.editor ul:not([class]) li i svg {
  width: clamp(24px, 4.557vw, 35px);
  height: clamp(24px, 4.557vw, 35px);
}
.editor ol:not([class]) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.editor ol:not([class]) li {
  font-family: var(--font-main);
  font-size: clamp(14px, 1.563vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  position: relative;
}
.editor ol:not([class]) li div {
  display: flex;
  align-items: center;
  font-size: clamp(16px, 3.125vw, 24px);
  line-height: 150%;
  font-weight: 500;
}
.editor ol:not([class]) li i {
  margin-right: clamp(16px, 3.125vw, 24px);
}
.editor ol:not([class]) li i svg {
  width: clamp(24px, 4.557vw, 35px);
  height: clamp(24px, 4.557vw, 35px);
}
.editors {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-gap: clamp(35px, 8.4746vw, 117px);
}
.editors__coll:only-of-type {
  grid-column: 1/-1;
}
.editor table:not([class]) {
  border-radius: 24px;
  border: 1px solid var(--bg-d);
  border-collapse: initial !important;
}
.editor table:not([class]) tr:first-child {
  overflow: hidden;
  width: 100%;
}
.editor table:not([class]) tr:first-child td {
  color: var(--cl-m);
  background: var(--bg-l);
}
.editor table:not([class]) tr:first-child td:first-of-type {
  border-radius: 24px 0 0 0;
}
.editor table:not([class]) tr:first-child td:last-of-type {
  border-radius: 0 24px 0 0;
}
.editor table:not([class]) tr td {
  border-bottom: solid 1px var(--bg-d);
}
.editor table:not([class]) tr:last-child td {
  border: none !important;
}
.editor table:not([class]) td {
  padding: 16px 0;
  color: var(--cl-j);
  font-family: var(--font-main);
  font-size: clamp(14px, 1.563vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.editor .row {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0 24px;
}
.editor .row:has(.main-button:only-child) {
  display: initial;
}
.editor blockquote {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  padding: 1.6rem 0;
  position: relative;
  z-index: 2;
  padding-left: 5rem;
  width: 100%;
  max-width: 100%;
}
.editor blockquote p:not([class]) {
  font-family: var(--font-second);
  color: var(--cl-a);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.editor blockquote:after {
  content: "";
  position: absolute;
  z-index: -2;
  width: 100vw;
  background-color: var(--cl-d);
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  top: 0;
}
.editor blockquote:before {
  content: "";
  position: absolute;
  top: 1.6rem;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='24' fill='none' viewBox='0 0 32 24'%3E%3Cg fill='%23fff' clip-path='url(%23a)'%3E%3Cpath d='M7.5 0S6.3 2.248 5.853 4.47c-.71 3.53.71 4.589.71 4.589H15V24H0V12.353s-.085-4.046 1.635-6.824C4.33 1.176 7.5 0 7.5 0M24.5 0s-1.2 2.248-1.647 4.47c-.71 3.53.71 4.589.71 4.589H32V24H17V12.353s-.085-4.046 1.635-6.824C21.33 1.176 24.5 0 24.5 0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h32v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  width: 3.2rem;
  height: 2.4rem;
  pointer-events: none;
}
.editor > div:not([class]) {
  font-size: clamp(16px, 1.25vw, 24px);
  line-height: 150%;
  font-weight: 500;
}
.editor img {
  display: block;
}
.editor img.aligncenter {
  margin: 0 auto;
}
.editor img.alignleft {
  margin-right: auto;
}
.editor img.alignright {
  margin-left: auto;
}

.main-button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: 43px;
  padding: 12px 60px;
  border: 0.1rem solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--cl-d);
  font-family: var(--font-main);
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--cl-a);
  transition: 0.4s ease-in-out;
}
.main-button:disabled {
  opacity: 0.6;
}
.main-button--transparent {
  border-color: var(--cl-a);
  background: transparent;
}
.main-button--green {
  background: var(--cl-i);
}

.slider-controls {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: clamp(32px, 7.29vw, 5.5rem) auto 0;
}
.slider-controls.red .slider-btn {
  border-color: var(--cl-e);
  color: var(--cl-e);
}

.slider-btn {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: solid 1px var(--cl-a);
  cursor: pointer;
  color: var(--cl-a);
}
.slider-btn.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}
.slider-btn svg {
  width: 3.2rem;
  height: 3.2rem;
}
@media (min-width: 576px) {
  .editor .wpcf7 {
    max-width: 618px;
  }
}
@media (max-width: 1440px) {
  :root {
    --container-offset: clamp(16px, 5.21vw, 4rem);
  }
  .langs a b {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 1020px) {
  .slider-controls {
    margin-top: 57px;
  }
}
@media (max-width: 766px) {
  .editor .wpcf7 {
    max-width: 576px;
  }
  .editor > div:not([class]) br {
    display: none;
  }
}
@media (max-width: 575px) {
  :root {
    --default-padding: 20px;
    --container-offset: 16px;
  }
  .main-title {
    margin: 24px 0;
  }
  .tag {
    height: 24px;
    font-size: 14px;
  }
  .editor .accent-label {
    margin: 0 auto;
  }
  .editor .row .main-button {
    width: 100%;
  }
  .slider-controls {
    margin: 32px auto 0;
  }
}
@media (hover: hover) {
  .tag:hover {
    background: #cfe9fb;
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  }
  .langs a:hover {
    color: var(--cl-e);
  }
  .search-form__btn:hover svg, .search-form__btn:hover img {
    transform: scale(1.1);
  }
  .slider-btn:hover svg {
    transform: scale(1.2);
  }
}
@media (hover: none) {
  .tag:active {
    background: #cfe9fb;
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
  }
  .langs a:active {
    color: var(--cl-e);
  }
  .search-form__btn:active svg, .search-form__btn:active img {
    transform: scale(1.1);
  }
  .slider-btn:active svg {
    transform: scale(1.2);
  }
}
/*# sourceMappingURL=for-editor.css.map */