.choose-repeater {

  thead {
    display: none !important;
  }

  tr {
    margin-bottom: 0 !important;
    flex-grow: 1;



    td:nth-of-type(2) {
      flex-grow: 1;
      //min-width: 300px;
    }
  }

  .acf-label {
    display: none !important;
  }

  table > tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
