@use "../mixins/breakpoint" as *;

.info-list {
	display: grid;
	grid-gap: clamp(12px, 1.25vw, 24px);

	@include for-small-tablet {
		grid-template-columns: repeat(3, 1fr);
	}

	@include small-tablet {
		grid-template-columns: 100%;
	}

	&__box {
		padding: clamp(16px, 1.667vw, 32px);
		display: flex;
		align-items: center;
		gap: clamp(24px, 2.5vw, 48px);
		background: #292929;
		border-radius: 12px;
		backdrop-filter: blur(8px);
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.sprite {
		svg {
			width: clamp(48px, 3.333vw, 64px);
			height: clamp(48px, 3.333vw, 64px);
		}
	}

	&__heading {
		font-size: clamp(24px, 1.667vw, 32px);
		line-height: 120%;
		font-weight: 500;
		color:  var(--cl-g);
	}

	&__text {
		font-size: clamp(14px, 1.25vw, 24px);
		line-height: 150%;
		font-weight: 500;
	}

}