@use "../mixins/breakpoint" as *;
@use "../mixins/mini" as *;

.program-list {
	display: grid;
	grid-gap: clamp(12px, 1.25vw, 24px);

	@include for-tablet {
		grid-template-columns: repeat(3, 1fr);
	}

	@include tablet {
		@include for-mobile {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@include mobile {
		grid-template-columns: 100%;
	}

	&__box {
		padding: clamp(16px, 1.667vw, 32px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: clamp(12px, 1.25vw, 24px);
		background: rgba(41, 41, 41, 0.50);
		border-radius: 12px;
		backdrop-filter: blur(8px);
	}
}