@use "../mixins/breakpoint" as *;

@mixin widget {
  .widget {
    border-radius: 24px;
    background: var(--bg-l);
    display: flex;
    padding: clamp(16px, 2.3438vw, 24px);
    flex-direction: column;
    gap: clamp(16px, 2.3438vw, 24px);

    &__title {
      color: var(--cl-b);
      font-family: var(--font-main);
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @include small-tablet{
        font-size: 18px;
        font-family: var(--second-family);
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        color: var(--cl-j);
        font-family: var(--font-main);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;

        a {
          transition: all 0.3s;

          &:hover {
            color: var(--cl-h);
          }
        }
      }
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      @include mobile{
        flex-wrap: nowrap;
        overflow-x: auto;
        width: calc(100% + (clamp(16px, 2.3438vw, 24px) * 2));
        margin-left: calc(clamp(16px, 2.3438vw, 24px) * -1);
        padding: 0 clamp(16px, 2.3438vw, 24px);
      

        .tag{
          flex-shrink: 0;
        }
      }
    }

    &.mode {
      background: transparent;
      border: 1px solid var(--br-d);
    }
  }
}
