@use "../mixins/breakpoint" as *;
@use "../mixins/mini" as *;
@use "../mixins/disable-mob-hover" as *;

.main-button {
  position: relative;
  overflow: hidden;
  z-index: 1;

  width: fit-content;
  height: 43px;
  padding: 12px 60px;
  border: 0.1rem solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: var(--cl-d);

  font-family: var(--font-main);
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--cl-a);

  transition: 0.4s ease-in-out;

  &:disabled{
    opacity: .6;
  }

  &--transparent{
    border-color: var(--cl-a);
    background: transparent;
  }
}

.slider-controls{
  display: flex;
  align-items: center;
  gap: 4rem;
  width: fit-content;
  margin: clamp(32px, 7.29vw, 5.5rem) auto 0;

  @media (max-width: 1024px){
    @media (min-width: 1020px){
      margin-top: 57px;
    }
  }

  @include mobile {
    margin: 32px auto 0;
  }
}

 .slider-btn {
   width: 4.8rem;
   height: 4.8rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background: transparent;
   border: solid 1px var(--cl-a);
   cursor: pointer;
   color:  var(--cl-a);

   &.swiper-button-disabled{
     opacity: .3;
     pointer-events: none;
   }

   svg{
     width: 3.2rem;
     height: 3.2rem;
   }

   @include hover {
     svg {
       transform: scale(1.2);
     }
   }
 }

 .slider-btn.prev {

 }

 .slider-btn.next {

 }


// .custom-link {
//   color: var(--bg-j);
//   display: inline-flex;
//   align-items: center;
//   gap: 16px;
//   font-family: var(--font-main);
//   font-size: 24px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
//   position: relative;
//   text-decoration: none;

//   &:before {
//     width: clamp(34px, 3.90625vw, 48px);
//     height: clamp(34px, 3.90625vw, 48px);
//     font-family: 'icomoon' !important;
//     speak: never;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     border-radius: 50%;
//     background-color: var(--bg-h);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: clamp(13px, 1.46484375vw, 16px);
//     color: var(--cl-a);
//   }

//   &.phone {
//     &:before {
//       content: '\e90a';
//     }
//   }

//   &.mail {
//     &:before {
//       content: "\e90b";
//     }
//   }

// }



// .swiper-pagination {
//   bottom: 16px;

//   &-bullet {
//     height: 8px;
//     width: 8px;
//     background: rgba(251, 251, 251, 0.5);
//     opacity: 1;

//     &-active {
//       background: #FBFBFB;
//     }
//   }
// }

