@use "../mixins/breakpoint" as *;
@use "../mixins/mini" as *;
@use "../mixins/disable-mob-hover" as *;

.main-button {
  position: relative;
  overflow: hidden;
  z-index: 1;

  width: fit-content;
  height: 4.3rem;
  padding: 1.2rem 6rem;
  border: 0.1rem solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: var(--cl-d);

  font-family: var(--font-main);
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--cl-a);

  transition: 0.3s ease-in-out;

  &:disabled{
    opacity: .6;
  }

  &--transparent{
    border-color: var(--cl-a);
    background: transparent;

    @include hover {
      background-color: rgba(255, 255, 255, 0.08);
      border-color: rgba(255, 255, 255, 0.8);
    }
  }

  &--green{
    background: var(--cl-i);

    @include hover {
      background-color: darken(#5AA04C, 6%);
      box-shadow: 0 0.6rem 1.6rem rgba(90, 160, 76, 0.25);
    }
  }

  @include hover {
    background-color: lighten(#414755, 6%);
    box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.15);
  }
}

.slider-controls{
  display: flex;
  align-items: center;
  gap: 4rem;
  width: fit-content;
  margin: clamp(32px, 7.29vw, 5.5rem) auto 0;

  @media (max-width: 1024px){
    @media (min-width: 1020px){
      margin-top: 57px;
    }
  }

  @include mobile {
    margin: 32px auto 0;
  }

  &.red{
    .slider-btn{
      border-color: var(--cl-e);
      color: var(--cl-e);
    }
  }
}

 .slider-btn {
   width: 4.8rem;
   height: 4.8rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background: transparent;
   border: solid 1px var(--cl-a);
   cursor: pointer;
   color:  var(--cl-a);

   &.swiper-button-disabled{
     opacity: .3;
     pointer-events: none;
   }

   svg{
     width: 3.2rem;
     height: 3.2rem;
   }

   @include hover {
     svg {
       transform: scale(1.2);
     }
   }
 }
