.acf-fc-popup li .acf-fc-popup__preview {
  top: 50%;
  right: calc(100% + 10px);
  position: absolute;
  transform: translateY(-50%);
  opacity: 0;
  padding: 10px;
  background: #fff;
  transition: all 0.2s;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
  pointer-events: none;
}
.acf-fc-popup li:hover .acf-fc-popup__preview {
  opacity: 1;
}
.acf-fc-popup__preview img {
  max-width: 500px;
}
@media screen and (max-width: 1200px) {
  .acf-fc-popup__preview {
    display: none;
  }
}
/* =================== */
.wp-core-ui .attachment .thumbnail, .acf-image-uploader .image-wrap img {
  background: #e5e5e5 !important;
}
/* =================== */


